div#body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

div#login_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

p {
    font-weight: bold;
}

form#login_form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input#username {
    margin-bottom: 10px;
}

input#password {
    margin-bottom: 10px;
}

div#buttons {
    display: flex;
    margin-top: 10px;
}

button {
    border-radius: 5px;
    border: solid black 1px;
    font-weight: bold;
}

button#login {
    margin-right: auto;
    width: 47%;
    background-color: #82b9e9;
}

button#register {
    margin-left: auto;
    width: 47%;
    background-color: #82b9e9;
}

div#logout_bar {
    display: flex;
    justify-content: space-between;
    width: 94vw;
    align-items: center;
    background-color: #53afff;
    padding-inline: 1vw;
    height: 45px;
    margin-bottom: 10px;
}

button#logout {
    height: 30px;
    background-color: #ffac00;
}

div#chatlist {
    width: 96vw;
    height: 50vh;
    overflow: scroll;
}

p.postUser {
    margin: 5px;
}

p.postContent {
    font-weight: normal;
    margin: 5px;
}

p.timestamp {
    margin: 5px;
    font-weight: normal;
    font-size: small;
}

.postHeader {
    display: flex;
    justify-content: space-between;
}

.post {
    background-color: #d7d7d7;
    padding: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: auto;
    overflow-wrap: break-word;
}

textarea#textarea {
    width: 96vw;
    height: 170px;
    margin: 5px;
    border-radius: 0px;
}

div#postbar {
    display: flex;
    justify-content: center;
    width: 94vw;
    align-items: center;
    background-color: #53afff;
    padding-inline: 1vw;
    height: 45px;
}

button#post {
    height: 30px;
    background-color: #ffac00;
}